@page
@using Microsoft.AspNetCore.Mvc.Localization
@using RatTracker.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using RatTracker.Web.Pages.Results
@using RatTracker.Results;
@using System.Globalization
@inject IHtmlLocalizer<RatTrackerResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Results/CreateModal" autocomplete="off">
    <abp-modal>
        <abp-modal-header title="@L["NewResult"].Value"></abp-modal-header>

        <abp-modal-body>
            
            <abp-input asp-for="Result.TestDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date"/>

            <abp-select asp-for="Result.Age"/>

            <abp-select asp-for="Result.Outcome"/>

            <div class="form-group">
                <label for="Result_SchoolId">@L["School"]</label>
                <select id="Result_SchoolId"
                        class="custom-select form-control"
                        name="Result.SchoolId"
                        data-value="@Model.Result.SchoolId" required>
                </select>
            </div>

        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>